/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/08/2019, 10:33:29 PM
    Author     : VicEspino
*/


.jfx-text-field ,
.jfx-password-field{
        /*color linea al enfocar*/
    -jfx-focus-color: blue;
        /*color linea sin enfocar*/
    -jfx-unfocus-color: blue;
    
    -fx-padding: 0.333333em 0 0.333333em 0;
    -fx-border-color:  derive( -boton-color,10%);
    -fx-border-style: solid;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 0 0 0 12;

    -fx-text-fill: black;
    -fx-prompt-text-fill: #A2A2A2;
}
 
/*Linea inferior sin foco*/
.jfx-text-field > .input-line,
.jfx-password-field >.input-line{
    -fx-background-color: -jfx-unfocus-color;
    -fx-background-color: transparent;

    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
   
    
}
/*Linea inferior al enfocar, 
que además es independiente a la de sin foco*/
.jfx-text-field > .input-focused-line,
.jfx-password-field >.input-focused-line{
   /* -fx-background-color: -jfx-focus-color;*/
   -fx-background-color: transparent;
    -fx-pref-height: 2px;
    -fx-translate-y: 1px;
}
 
.jfx-text-field:focused,
.jfx-password-field:focused{
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-prompt-text-fill: #4D4D4D;
    -fx-focus-color: #FF6634;
    -fx-text-fill: #2A2A2A;
 }

.jfx-text-field:error ,
.jfx-password-field:error{
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
    -fx-border-color: red;
}

.jfx-text-field .error-label,
.jfx-password-field .error-label{
    -fx-text-fill: #D34336;
    -fx-translate-y: -7px;   
 }

.jfx-text-field .error-icon,
.jfx-password-field .error-icon{
    -fx-fill: #D34336;
}
