*{
    -boton-color: #5AB444;
    -boton-color-focused: #5AB44430;
    -borde-text-field: #29156E;
    -borde-text-field-focus: #29156E30;
}
.ventana-redonda{
    /*Sombra personalizada, para sombra generica sin ver tanto cada parametro
    mejor usar         primaryStage.getScene().getRoot().setEffect(new DropShadow());
    */
    /*  -fx-background-color: derive(cadetblue, -20%); */

    -fx-border-radius: 12;
    -fx-background-radius: 12;
}
.ventana{
     -fx-background-insets: 12;
     -fx-background-color: #FFF;
     -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, .32), 10, 0.8, 0.0, 0.0 );
}

.boton{
    -fx-background-color:  -boton-color;   
    -fx-text-fill: #FFF;
    -fx-cursor: hand;

}
.boton:hover{
    -fx-background-color: derive(-boton-color, 20%);

}
.boton:pressed{
    -fx-background-color: derive(-boton-color,-20%);
}

.boton-cerrar{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #828282;
    
}
.boton-cerrar:hover{
    -fx-background-color: red;
    -fx-text-fill: #FFF;
}
.boton-cerrar:pressed{
    -fx-background-color: derive(red,50%);
}

 

.area-texto{
    
}
.area-texto> .input-line{
    -fx-background-color: transparent;
}

.area-texto> .input-line,
.area-texto> .input-focused-line{
    -fx-background-color: transparent;
}

.tittle-bar{
    -fx-background-color: derive(-boton-color,65%);
}