/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/09/2019, 02:34:40 PM
    Author     : vicen
*/
*{
    -boton-color: #5AB444;
    -boton-color-focused: #5AB44430;
    -label-color-1: #707070;
    -label-color-2: #E3E3E3;
    -color-blanco :#FFFFFF;
    -boton-color: #5AB444;
}

.button{
    -fx-cursor:hand;
}
.boton{
    -fx-background-color:  -color-blanco;     
}
.boton:hover{
    -fx-background-color: derive(-boton-color, 60%);

}
.boton:pressed{
    -fx-background-color: derive(-boton-color,50%);
}
.jfx-text-field{
    -fx-padding: 0.333333em 0 0.333333em 0;
    -fx-border-color:  derive( -boton-color,10%);
    -fx-border-style: solid;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 0 0 0 12;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #A2A2A2;
}
/*Linea inferior sin foco*/
.jfx-text-field > .input-line
{
    -fx-background-color: -jfx-unfocus-color;
    -fx-background-color: transparent;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
   
    
}
/*Linea inferior al enfocar, 
que además es independiente a la de sin foco*/
.jfx-text-field > .input-focused-line{
   /* -fx-background-color: -jfx-focus-color;*/
   -fx-background-color: transparent;
    -fx-pref-height: 2px;
    -fx-translate-y: 1px;
}
.jfx-text-field:focused
{
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-prompt-text-fill: #4D4D4D;
    -fx-focus-color: #FF6634;
    -fx-text-fill: #2A2A2A;
 }
 
 
/*******************************************************************************
     *           
     * I will provide this
     * Tables                                      *
     *                                                                             *
     ******************************************************************************/
    .table-view, .tree-table-view {
        /* Constants used throughout the tableview. */
        -fx-table-header-border-color: -label-color-2;
        -fx-table-cell-border-color: -label-color-2; /* Horizontal Lines*/
        -fx-background-color: -label-color-2;
    }

    /* The column header row is made up of a number of column-header, one for each
       TableColumn, and a 'filler' area that extends from the right-most column
       to the edge of the tableview, or up to the 'column control' button. */
    .table-view .filler, .tree-table-view .filler, .table-view .column-header,
    .tree-table-view .column-header {
        -fx-size: 10;
        /*-fx-border-style: null;*/
        -fx-border-color: -label-color-2;
        -fx-border-width: 0 0.5 0.5 0.5;
        -fx-background-color: -boton-color ;
    }

    .table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
    {
        -fx-background-color:-label-color-2 ;
    }
    /*.tree-table-view:focused .tree-table-row-cell:selected {
         -fx-background-color: #FB260A ;
         -fx-table-cell-border-color: #FB260A  ;
    }*/
    .table-view .column-header .label, .table-view .filler .label,
    .table-view .column-drag-header .label, .tree-table-view .column-header .label,
    .tree-table-view .filler .label, .tree-table-view .column-drag-header .label
    {
        -fx-alignment: CENTER;
        -fx-text-fill: -color-blanco;
    }

    .table-view .column-header-background, .tree-table-view .column-header-background
    {
        -fx-background-color:-label-color-1;
    }

    .table-row-cell, .tree-table-row-cell {
        -fx-cell-size: 30px; 
    }

    .table-cell {
        -fx-border-color: -label-color-1 ; /* Vertical Lines*/
        -fx-border-width: 1;
    }




